div.container {
	height: 100px;
	width: auto;
	background-color: red;
	color:white;
}
div.container-fluid{
	height: 100px;
	width: auto;
	background-color: blue;
	color:white;
	push: 3;
}

div.col-lg-6{
	height: 100px;
	color:white;
}
div.col-lg-8{
	height: 100px;
	color:white;
}
div.col-lg-4{
	height: 100px;
	color:white;
}
#pink{
	background-color: pink;
}
#navy{
	background-color: navy;
}

#yellow{
	background-color: yellow;
}
#orange{
	background-color: orange;
}

